.App {
  text-align: center;
}

.deck-container {
  height: 140px;
  width: 100px;
  background-color: blue;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 40px;
}

.picked-card {
  height: 142px;
  width: 102px;
}

.choosen {
  background-color: yellow;
}

.player-container {
  width: 400px;
  margin: auto;
}

.face-down-card {
  background-color: blue;
  border: 1px solid black;
  width: 100px;
  height: 140px;
  border-radius: 20px;
  display: inline-flex;
  margin: 20px;
}

.face-up-card {
  width: 100px;
  height: 140px;
  display: inline-flex;
  margin: 20px;
}